@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body, ul, li, p{
    list-style: none;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EBEBEB;
}

header a img{
    height: 20%;
    width: 20%;
    transform: translate(-30%, -30%);
}

header > h1 {
    color: white;
    text-align: center;
}


span#burguer{
    color: white;
    display: block;
    text-align: right;
    padding: 10px;
    cursor: pointer;
}

span#burguer:hover{
    background-color: white;
    color: black;
    text-align: right;
}

h1{
    text-align: center;
    margin-top: 100px;
    padding: 10px;
}

a{
    color: white;
    text-decoration: none;
}

img{
    max-width: 100%;
    display: block;
}

div > p{
    text-align: center;
}

div > a{
    text-align: center;
    color: black;
}

div > a:hover{
    text-decoration: underline;
}

.header{
    background-color: black;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    
}

menu{
    display: none;
}

menu > ul{
    list-style-type: none;
}

menu > ul > li > a:hover{
    background-color: red;
}

menu > ul > li > a{
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: black;
    color: white;
    border-top: 2px solid rgb(153, 153, 153);
}

.imenu{
    display: inline;
    background-color: black;

}
.imenu > li{
    margin-left: -7px;

}
.imenu > li > a{
    display: block;
    padding: 10px;
    background: rgb(168, 12, 12);
    font-size: 0.8em;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.flex > div{
    flex: 1 1 200px;
    margin: 10px;
}
